* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background {
  background: #fff;
  box-shadow: 0px -10px 20px 0px rgba(194, 194, 194, 0.25);
  padding-bottom: 6px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}
.background .control {
  display: flex;
  align-items: center;
  padding-top: 10px;
  gap: 30px;
}
.background .control .controlmenu {
  display: flex;
  align-items: center;
  gap: 10px;
}
.background .control .controlmenu .menu {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1px;
}
.background .control .controlmenu .menu svg {
  color: gray;
}
.background .control .controlmenu .menu h2 {
  color: #999;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.background .control .controlmenu .menu:focus svg {
  color: #288aa9;
}
.background .control .controlmenu .menu:focus h2 {
  color: #288aa9;
}
.background .control .controlmenu .payment {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.background .control .controlmenu .payment svg {
  color: gray;
}
.background .control .controlmenu .payment h2 {
  color: #999;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.background .control .controlmenu .payment:focus svg {
  color: #288aa9;
}
.background .control .controlmenu .payment:focus h2 {
  color: #288aa9;
}
.background .control .addplus {
  text-decoration: none;
}
.background .control .addplus .images {
  border-radius: 30px;
  background-color: #288aa9;
  padding: 13px;
}
.background .control .controlhistory {
  display: flex;
  align-items: center;
  gap: 20px;
}
.background .control .controlhistory .history {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.background .control .controlhistory .history svg {
  color: gray;
}
.background .control .controlhistory .history h2 {
  color: #999;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.background .control .controlhistory .history:focus svg {
  color: #288aa9;
}
.background .control .controlhistory .history:focus h2 {
  color: #288aa9;
}
.background .control .controlhistory .other {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.background .control .controlhistory .other svg {
  color: gray;
}
.background .control .controlhistory .other h2 {
  color: #999;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.background .control .controlhistory .other img {
  width: 27px;
  height: 27px;
}
.background .control .controlhistory .other:focus svg {
  color: #288aa9;
}
.background .control .controlhistory .other:focus h2 {
  color: #288aa9;
}/*# sourceMappingURL=index.module.css.map */